<div class="provider">
    <div class="user-details" style="display: none;">
    {{#if user.pic}}
        <img class="user-pic" src="{{user.pic}}" alt="No profile picture" style="display: none;"/>
    {{/if}}
    {{#if user.profileLink}}
        <span><a href="{{user.profileLink}}" target="_blank">{{user.fullname}}</a></span><br/>
    {{/if}}
    {{#if user.email}}
        <span class="email">{{user.email}}</span>
    {{/if}}
        <br/>
        <a class="signout-link">Sign Out</a>
    </div>
    <div class="signin-link">
        <img class="logo" src="{{logo}}" alt="{{label}}"/>
        <a href="svc/auth/signin/{{id}}">Sign In</a>
    </div>
</div>
